/* Sección Header del Body */
#header-section{   
    background-color:#85d4b7 ;
}

#header-section .nav-link{
    color: white;
}

/* Sección Principal del Body */
#main-section{
    background-color:#6dccaa;
    /*height: 440px;*/
    padding-top: 2rem;
	padding-bottom: 2rem;
}

#main-section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#main-section span{
    background-color: white;
    border-radius: 50%;
    margin-right: 2%;
    padding: 3px 7px;
}

/* Sección Articulos del Body */
#article-section {
    padding-bottom: 5%;
    padding-top: 2%;
}

#article-section h1 {
    font-size: 1.5rem;
}

#article-section h6 {
    color: #6c757d;
    font-size: 0.8rem;
}

#article-section .article-block-1 h6::after {
    content: '';
    border-bottom: 3px solid #8f8888;
    width: 8%;
    display: block;
    margin-top: 3%;
    position: absolute;
    right: 2%;
}

#article-section .article-block-2 h6::after {
    content: '';
    border-bottom: 3px solid #8f8888;
    width: 8%;
    display: block;
    margin-top: 3%;
    position: absolute;
    left: 2%;
}

/* Sección Footer */
footer{
    /*background-color: #6dccaa;*/
    height: 100%;
}

footer p{
    text-align: right;
    padding-top: 0.5%;
    /*color: white;*/
}

/*Otros Estilos */
.text-white{
    color:white important!;
}

.text-default{
    color:#6dccaa;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.mt-8{
    margin-top: 8%;
}

.mt-4{
    margin-top: 4%;
}

.mb-4{
    margin-bottom: 4%;
}

.btn-default{
    background-color: white;
    border: 2px solid;
    padding: 1%;
    font-weight: 700;    
}


/* Media queries*/
@media (max-width:575px){
	#main-section .main-info{
		text-align:center !important;
		padding-top: 5px;
	}
}